/*
!/.gitignore
!/.zshrc
!/.bash_profile
!/.packages

!/.emacs.d/
/.emacs.d/*
!/.emacs.d/*.el
!/.emacs.d/omnisharp-rosyln

!/.config/
/.config/*
!/.config/kitty/
!/.config/nvim
/.config/nvim/*
!/.config/nvim/*.vim
!/.config/rustfmt/
!/.config/paru/
